<div class="top-wrapper">
    <div class="container">

        <h1>高信頼性システム研究室(Dependable System Lab.)</h1>
        <div class="lab-explain">
            <p>多くの電子機器は情報システムとして構築され，社会で重要な役割を果たしています．そのため，情報システムの信頼性の保証や誤りのない設計が重要となっています．研究室では，形式手法の一つであるモデル検査を中心として，組込み機器や確率的な振舞いを示すシステムの信頼性保証手法や開発手法の研究に取り組んでいます．</p>
        </div>
        <div class="top-topic-wrapper">
            <h2>Top Topics</h2>
            <div class="top-topics">
                <% @topTopicContentList.each do |topTopicContentItem| %>                
                <div class="top-topic">
                <img class="topic-image" src="<%= topTopicContentItem.imgSrc %>"/>
                <h3 class="title"><%= topTopicContentItem.title %></h3>
                    <%= raw topTopicContentItem.content %>
                </div>
                <% end %>              
            </div>                       
        </div>
        <div class="clear-left"></div>
        <div class="topic-wrapper">
            <div class="topics">
                <h2>Topics</h2>
                <ul>
                <% @topicContentList.each do |topicContentItem| %>
                <li class="title">
                    <%= raw topicContentItem.title %>
                    <li class="content">
                        <%= raw topicContentItem.content %>
                    </li>
                </li>
                <% end %>
                </ul>
            </div>
            <div class="Facebook-wrapper">
                <h4>Lab's Facebook</h4>
                <iframe name="f7aeaf9e35915c" width="1000px" height="400px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dffd6b4bf6eb5c8%26domain%3Dwww.cs.ce.nihon-u.ac.jp%26origin%3Dhttp%253A%252F%252Fwww.cs.ce.nihon-u.ac.jp%252Ff762d7d67d11d%26relation%3Dparent.parent&amp;container_width=364&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdependablesystemslab%2F&amp;locale=ja_JP&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline" style="border: none; visibility: visible; width: 340px; height: 400px;" class=""></iframe>
            </div>
        </div>
    </div>        
</div>